<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>VulnX Scanner</title>

  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" type="image/x-icon">

  <!-- Animation CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}">
</head>

<body>
  <div class="intro-container">
    <div class="intro-content">
      <h1 class="intro-title">◈VulnX</h1>
     
    </div>
  </div>

  <!-- Animation JS -->
  <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
</body>
</html>
